.collection-preview {
    display: flex;
    flex-direction: column;
    padding: 40px;
  
    .title {
      font-size: 30px;
      margin-bottom: 25px;
      text-align: center;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  